/* font-family: 'Noto Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Raleway', sans-serif;*/

:root {
    --cinza-claro: #dddddd;
    --azul-escuro: #2A7AE4;
    --azul-claro: #EAF2FD;
    --branco-escuro: #F5F5F5; /*Isso é possível? */
}

body {
    font-family: 'Noto Sans', sans-serif
}