.contato {
    background-color: var(--azul-claro);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.contato__links {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100vw;
}

.contato__links .logo {
    margin-bottom: 20px;
}

.contato__links .logo__titulo {
    font-size: 1.5rem;
}

.contato__lista {
    display: flex;
    flex-direction: column;
}

.contato__lista-item {
    align-self: center;

    margin: 10px;    
}

.contato__lista-link {
    text-decoration: none;
    color: #464646;
}

.contato__form {
    width: 90%;
}

.contato__form-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.contato__form-titulo {
    margin: 10px 0 10px 0;
   
    font-weight: bold;
}


.contato__form-input {
    border: none;
    border-radius: 4px;

    height: 36px;
    margin: 7px 0 15px 0;
    padding-left: 5%;

    font-weight: 400;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}


.contato__form-input-mensagem {
    height: 82px;

    padding-top: 15px;
}

.contato__form-botao {
    width: 50%;
    height: 40px;
    margin-bottom: 15px;

    background-color: var(--azul-escuro);
    border: none;

    color: var(--cinza-claro);
    font-size: 14px;
    font-family: 'Noto Sans', sans-serif;
}