.produtos__secao {
    display: flex;
    flex-direction: column;

    width: 90%;
    margin: 0 auto;

    align-items: center;
}

.produto__secao-titulo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: 2rem 0 0 0;

    font-size: 2rem;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;

    width: 95%;
}

.secao__verTudo {
    font-size: 1rem;
    text-decoration: none;
    color: var(--azul-escuro);

    display: flex;
    align-items: center;
}

.secao__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 8px;

    width: 90%;
}

.produto {
    display: flex;
    flex-direction: column;

    margin-top: 25px;
    max-width: 176px;
}

.produto__img {
    max-width: 176px;
    width: 164px;
    height: 174px;
}